.filter-group {
  margin: 20px;
  width: 160px;
}

.filter {
  opacity: 0.5;
  cursor: pointer;
  font-size: 90%;
  padding: 2px 5px;
}

.filter:hover {
  opacity: 1;
}

.active {
  opacity: 1;
  background: lightgrey;
}

.active:hover {
  background: silver;
  opacity: 1;
}

.active:after {
  float: right;
  content: '\2716';
  opacity: 0.3;
}

header {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  cursor: pointer;
}

header:hover {
  background: silver;
}

header > div {
  opacity: 0;
}

header:hover > div {
  opacity: 0.5;
}

.up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid black;
}

.down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid black;
}
