.header-line {
  display: flex;
  height: 40px;
  background: black;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  color: white;
  margin: 0 20px;
}

.links * {
  padding: 3px;
  margin: 0 30px;
  color: white;
  font-size: 80%;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

input {
  width: 180px;
  height: 25px;
  margin: 0 50px;
  padding: 0 5px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

input:focus {
  background: grey;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

.route {
  border-bottom: 2px white solid;
}
