#app {
  display: flex;
}

#app > aside {
  width: 277px;
}

#app > content {
  flex-grow: 1;
}


#app > aside > h2 {
  text-align: center;
  margin: 53px 0;
}

#app > aside > a {
  text-align: center;
  margin: 19px 0;
  display: block;
  font-size: 17px;
}


.map-vacancies {
}
.map-vacancies .baloon-body p {
   margin: 0;
 }